# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editor backup files
*~
*.swp

# System NFS crash files
.nfs*

# Eclipse build dirs

/BOOST_test_ADC_decode/
/Debug/
/Profiling/
/Release/
/test_data_generation/
/oprofile_data/
gmon.out
/data/test_write_to_HDF5.h5
/output_files
/miscellaneous


